.formSection { display: flex; justify-content: center; align-items: center; flex-direction: column; }

.form { font-family: 'Poppins',sans-serif; }

.form .heading { text-align: center; margin: 20px 0; }

.form .heading .title { font-size: 1.75rem; font-weight: 500; }

.form .heading .sectionInfo { font-size: 1rem; color: #707070; }

.flexBlock { display: flex; justify-content: center; align-items: center; gap: 30px; }

.formElement { margin: 10px 0; }

.formElement label { font-weight: 500; font-size: 1.1rem; }

.formElement input { padding: 10px 10px; border-radius: 5px; outline: none; border: 2px solid rgb(171, 170, 170); width: 180px; font-family: 'Poppins',sans-serif; font-size: 0.75rem; }

.formElement select, .formElement textarea { padding: 10px 10px; border-radius: 5px; outline: none; width: 420px; border: 2px solid rgb(171, 170, 170); font-family: 'Poppins',sans-serif; font-size: 0.75rem; resize: none; }

.formElement select { padding: 10px 10px; border-radius: 5px; outline: none; width: 440px; border: 2px solid rgb(171, 170, 170); font-family: 'Poppins',sans-serif; font-size: 0.75rem; resize: none; }

.fieldError { color: #ff4838; margin: 5px 0 20px 0; font-size: 1.1rem; text-align: center; font-weight: 600; white-space: pre-line; }

.fieldSuccess { color: #28bf06; margin: 5px 0 20px 0; font-size: 1.1rem; text-align: center; font-weight: 600; white-space: pre-line; }

.submitButton { text-align: center; margin: 30px 0 20px 0; }

.submitButton button { background: #28bf06; border: none; color: #fff; padding: 10px 20px; font-size: 1rem; border-radius: 5px; cursor: pointer; }

.workflowContainer { display: flex; justify-content: left; align-items: center; gap: 20px; }

.workflowContainer .workflowItem { border: 1px solid gray; margin: 20px 0; padding: 10px; border-radius: 10px; font-size: 20px; box-shadow: 1px 1px 8px gray; }
