.updateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 20px auto;
    width: 100%;
    font-family: 'Poppins';
    flex-wrap: wrap;
}

.formContainer {
    background-color: rgb(222, 230, 227);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
}

.formContainer .formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
}

.formGroup .formElement {
    flex-grow: 1;
}

.formElement input,
.formElement textarea,
.formElement select {
    width: 100%;
    padding: 10px 5px 10px 5px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #3f3f3f;
    font-family: 'Poppins';
    resize: none;
}

.formElement label {
    font-size: 18px;
    font-family: 'Poppins';
    color: gray;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}

.submitButton input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: green;
    color: #FFF;
    font-size: 16px;
    font-family: 'Poppins';
    width: 80%;
    cursor: pointer;
}

.fieldError {
    color: #ff4838;
    margin: 5px 0 20px 0;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    white-space: pre-line;
}

.fieldSuccess {
    color: #28bf06;
    margin: 5px 0 20px 0;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    white-space: pre-line;
}

.workflowContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 40px 0;
    font-family: 'Poppins';
}

.workflowCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin: 20px;
}

.workflowTitle {
    font-size: 24px;
    font-weight: 500;
}

.cardItem {
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    box-shadow: 1px 1px 8px #454545;
    text-align: left;
    min-height: 120px;
}

.cardItem .level {
    font-size: 22px;
    font-weight: 500;
}

.statusIcon {
    border-radius: 100%;
    opacity: 0.7;
    padding: 8px 10px;
}

.approver,
.approvedOn {
    color: rgb(56, 56, 56);
    margin: 5px 0;
    padding: 0;
}

.approver span,
.approvedOn span {
    margin: 0 10px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.summaryContainer {
    box-shadow: 1px 1px 8px #454545;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Poppins';
}

.sectionTitle {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 10px;
}

.summaryItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.summaryItems div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.pendingCardStyles {
    margin: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(222, 222, 222);
    padding: 30px;
    max-width: 70%;
    border-radius: 5px;
}

.pendingCardStyles so {
    background-color: gray;
    padding: '5px 10px';
    border-radius: '5px';
    margin: '5px';
    font-size: '20px'
}